.iconContainer {
    min-height: 45px;
    min-width: 45px;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: #ebe0fd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconHeight {
    background-image: url('../SVG/height.svg');
    height: 35px;
    width: 35px;
}
.iconWeight {
    background-image: url('../SVG/weight.svg');
    height: 35px;
    width: 35px;
}
.iconNext {
    background-image: url('../SVG/next.svg');
    min-height: 35px;
    min-width: 35px;
    height: 35px;
    width: 35px;
}
.iconStats{
    background-image: url('../SVG/stats.svg');
    height: 35px;
    width: 35px;
}
.iconGoal {
    background-image: url('../SVG/goal.svg');
    height: 35px;
    width: 35px;
}
.iconPlus {
    background-image: url('../SVG/plus.svg');
    height: 35px;
    width: 35px;
}
.iconI {
    background-image: url('../SVG/i.svg');
    height: 35px;
    width: 35px;
}
.iconSneaker {
    background-image: url('../SVG/sneaker.svg');
    height: 35px;
    width: 35px;
}
.iconWarning {
    background-image: url('../SVG/warning.svg');
    height: 35px;
    width: 35px;
}
.iconEye {
    background-image: url('../SVG/eye.svg');
    height: 35px;
    width: 35px;
}
.iconCross {
    background-image: url('../SVG/cross.svg');
    height: 35px;
    width: 35px;
}