.iconContainer {
    min-height: 45px;
    min-width: 45px;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: var(--default-iconContainer-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconHeight {
    mask-image: url('../SVG/height.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconWeight {
    mask-image: url('../SVG/weight.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconNext {
    mask-image: url('../SVG/next.svg');
    background-color: var(--default-icon-color);
    min-height: 35px;
    min-width: 35px;
    height: 35px;
    width: 35px;
}
.iconStats{
    mask-image: url('../SVG/stats.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconGoal {
    mask-image: url('../SVG/goal.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconPlus {
    mask-image: url('../SVG/plus.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconI {
    mask-image: url('../SVG/i.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconSneaker {
    mask-image: url('../SVG/sneaker.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconWarning {
    mask-image: url('../SVG/warning.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconEye {
    mask-image: url('../SVG/eye.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconCross {
    mask-image: url('../SVG/cross.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconMolotok {
    mask-image: url('../SVG/molotok.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}
.iconKey {
    mask-image: url('../SVG/key.svg');
    background-color: var(--default-icon-color);
    height: 35px;
    width: 35px;
}