:root {
    --default-text-color: #1a1a1a;
    --default-icon-color: #000000;
    --default-iconContainer-color: #f9f8ff;
    --default-btn-color: #f9f8ff;
    --body-color: #f9f8ff;
    --tile-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --default-text-color: #ffffff;
        --default-icon-color: #ffffff;
        --default-iconContainer-color: #3a3939;
        --default-btn-color: #3a3939;
        --body-color: #191919;
        --tile-color: #2a2a2a;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular", "Arial", sans-serif;
    color: var(--default-text-color)
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../TTF/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../TTF/Roboto-Bold.ttf");
}

@media (max-width: 600px) {
    .flex-directionRotation {
        flex-direction: column !important;
    }
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.2s;
    background-color: var(--body-color);
}
.passwordWindow {
    background-color: #1a1a1a;
    border-radius: 15px !important;
    position: absolute;
}
header {
    width: calc(100% - 40px);
    z-index: 3;
    max-width: 1480px;
    height: 80px;
    padding: 15px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    top: 20px;
    border-radius: 25px;
    background-color: #ffffff36;
    backdrop-filter: blur(15px);
    transition-duration: 1s;
}
.initiallyHidden {
    visibility: hidden;
}
.headerFullscreen {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    max-width: 100%;
}
#navHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px
}
section {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--tile-color);
    border-radius: 25px;
    flex-grow: 1;

}
.sectionFullscreen {
    height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5685ff;
    margin-left: -3px;
    border-radius: 0;
}
.sectionWideInvisible {
    width: 100%;
    background-color: #00000000;
    border-radius: 0;
}
.welcomeScreen {
    background-image: url("../SVG/welcomeScreen.svg");
    background-size: cover;
    background-position: center;
}
.starScreen {
    background-image: url("../SVG/starScreen.svg");
    background-size: cover;
    background-position: center;
}
.goldScreen {
    background-image: url("../SVG/goldScreen.svg");
    background-size: cover;
    background-position: center;
}
.runningScreen {
    background-image: url("../IMG/running/running.webp");
    background-size: cover;
    background-position: center;
}
.swimmingScreen {
    background-image: url("../IMG/swimming/swimming.png");
    background-size: cover;
    background-position: center;
}
.bicyclingScreen {
    background-image: url("../IMG/bicycling/bicycling.jpg");
    background-size: cover;
    background-position: center;
}
.climbingScreen {
    background-image: url("../IMG/climbing/climbing.png");
    background-size: cover;
    background-position: center;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--default-text-color);
}
h1 {
    font-family: "Roboto-Bold", "Arial", sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
}
h3 {
    font-size: 20px;
    font-family: "Roboto-Bold", "Arial", sans-serif;
    font-weight: normal;
}
.white {
    color: white;
}

.emptyGap {
    height: 80px
}
.h1Ultra {
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}
.sectionForm {
    background: linear-gradient(22deg, rgb(255 161 161) 0%, rgb(255 102 210) 35%, rgb(104 137 239) 100%);
}
.sectionSteps {
    background: linear-gradient(22deg, rgb(255 106 40) 0%, rgb(255 38 38) 35%, rgb(255 91 143) 100%);
}
.btnFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    height: 50px;
    transition-duration: 0.4s;
    border-radius: 15px;
    color: var(--default-text-color);;
}
.btnFrame:hover {
    background-color: #37373799;
    color: #ffffff;
}
a, p, label {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    line-height: normal;
    color: var(--default-text-color);
}
p, label {
    color: var(--default-text-color);
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
    max-width: 1480px;
}
footer {
    width: 100%;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--tile-color);
}
ul {
    list-style-type: none;
    margin: 0;
}
img {
    border-radius: 18px;
}
input, button, textarea, select, .button {
    min-height: 50px;
    width: 100%;
    border-radius: 15px;
    padding: 0 12px 0 12px;
    font-size: 20px;
    border: none;
    background-color: var(--default-btn-color);
}
.miniButtonWithIcon {
    width: fit-content;
    padding: 0 12px 0 5px !important;
    gap: 0 !important;
}
button, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}
button:hover {
    box-shadow:inset 0 0 0 2px #8b9da6;
    transition: 0.2s;
}
.buttonExercise {
    height: 200px;
    width: 200px;
    flex-grow: 1;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-family: "Roboto-Bold", "Arial", sans-serif;
    background-position: center bottom;
    background-size: cover;
}
.buttonExercise:hover {
    box-shadow:inset 0 0 0 0 !important;
}
.colorsSwimming {
    background-color: #b2c9fd;
    color: #002c9f;
    background-image: url("../IMG/blueBG.webp");
}
.colorsRunning {
    background-color: #fde5b2;
    color: #810000;
    background-image: url("../IMG/redBG.webp");
}
.colorsBicycling {
    background-color: #b2fdf7;
    color: #005035;
    background-image: url("../IMG/greenBG.webp");
}
.colorsClimbing {
    background-color: #f3dbc8;
    color: #2e2419;
    background-image: url("../IMG/brownBG.webp");
}
.colorsTracker {
    color: #ffffff;
    background-image: url("../SVG/goldScreen.svg");
}

.chartWrapper {
    width: 100%;
    border-radius: 15px;
    height: 300px;
    background-color: #515151;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px
}

.carousel-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mistake {
    background-color: #ff4545;
    color: #ffffff;
}
.mistake::placeholder {
    color: #ffffff;
    opacity: 1;
}
.accepted {
    background-color: #00e600;
    color: #ffffff;
}
.accepted::placeholder {
    color: #ffffff;
    opacity: 1;
}
/*
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
*/
.feedback-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    border-radius: 8px;
}

.feedback-content h5 {
    margin: 0 0 10px;
}

.feedback-content p {
    margin: 0 0 20px;
}

.close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.square-button {
    padding: 0;
    min-height: 50px;
    min-width: 50px;
}